Repository speakeasy-api/gram, pull requests merged in 2025-09, with the labels that each got.

#121 chore: add claude pr command
  .claude/commands/pr.md
Labels: enhancement, github_actions

#144 feat: Add a runbook for adding and modifying endpoints
  docs/runbooks/adding-and-modifying-endpoints.md
  docs/runbooks/writing-queries-with-sqlc.md
Labels: documentation

#295 feat: improve MCP install page design and user experience
  .changeset/itchy-aliens-work.md
  client/dashboard/public/external/hosted-install-page-40a750b7.js
  client/dashboard/public/external/hosted-install-page.js
  server/internal/mcp/hosted_page.html.tmpl
  server/internal/mcp/impl.go
Labels: enhancement, go
